<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/splash"
        android:label="Fréquencemètre manuel"
        android:theme="@style/Theme.AppCompat.NoActionBar">

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".GeneratorActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".CalcActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".InfoActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".CalcDetailActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".PerfusionActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".PseActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".TransfusionActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".GestogrammeActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".GlasgowActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".TutorialActivity" android:exported="false" android:screenOrientation="portrait" android:theme="@style/Theme.Tutorial" />

    </application>
</manifest>
